astroid==2.12.10
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
colorama==0.4.5
configparser==5.3.0
cryptography==38.0.1
DHC==0.0.3
dill==0.3.5.1
et-xmlfile==1.1.0
idna==3.4
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
msal==1.19.0
ntlm-auth==1.5.0
numpy==1.23.3
Office365-REST-Python-Client==2.3.14
openpyxl==3.0.10
packaging==21.3
pandas==1.5.0
platformdirs==2.5.2
pycparser==2.21
PyJWT==2.5.0
pylint==2.15.3
pymssql==2.2.5
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.4
requests==2.28.1
requests-ntlm==1.1.0
setuptools-scm==7.0.5
six==1.16.0
tomli==2.0.1
tomlkit==0.11.5
types-cryptography==3.3.23
typing_extensions==4.3.0
urllib3==1.26.12
wrapt==1.14.1
